@charset "utf-8";

/*  
   v0.1 | 20231213
  byline: 100designer
*/

/*font-family*/
/*pretendard 가변 다이나믹 서브셋*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/*Font-size + font-family Root*/
html,
body {
  font-size: 16px;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/*h1~h6*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NanumSquareAc', sans-serif;
}

/* Medium (641px to 1007px) */
@media (max-width: 1007px) {
  html,
  body {
    font-size: 14px;
  }
}

/* Small (smaller than 640px) */
@media (max-width: 640px) {
  html,
  body {
    font-size: 12px;
  }
}
