@charset "utf-8";

/*  
   v0.1 | 20231213
  byline: 100designer
*/

/* Medium (641px to 1007px) */
@media (max-width: 1007px) {
  html,
  body {
    font-size: 14px;
  }
}

/* Small (smaller than 640px) */
@media (max-width: 640px) {
  html,
  body {
    font-size: 12px;
  }
}
