@charset "utf-8";

/*  
   v0.1 | 20231213
  byline: 100designer
*/

html,
body {
  font-size: 10px;
}

/* A안 CSS Variables */
:root {
  /*font-size*/
  --uc-scale-0: 0rem;
  --uc-scale-1: 0.4rem;
  --uc-scale-2: 0.8rem;
  --uc-scale-3: 1.2rem;
  --uc-scale-4: 1.6rem;
  --uc-scale-5: 1.8rem;
  --uc-scale-6: 1.8rem;
  --uc-scale-7: 2rem;
  --uc-scale-8: 2rem;
  --uc-scale-9: 3.4rem;
  --uc-scale-10: 4.6rem;
  --uc-scale-11: 6rem;
  --uc-scale-12: 7.2rem;
  --uc-scale-3-5: 1.4rem;

  /*main*/
  --uc-color-main01: #6eab8d;
  --uc-color-main02: #9ec56f;
  --uc-color-main03: #121212;
  --uc-color-main04: #1b1b1b;
  --uc-color-main05: #92cb9d;
  --uc-color-main06: #85b7ab;

  /* Text / Sub */
  --uc-color-text01: #ffffff;
  --uc-color-text02: #676767;
  --uc-color-text03: #8fc89a;
  --uc-color-text04: #71b091;
  --uc-color-text05: #1a1b1e;
  --uc-color-text06: #7e7e7e;

  /* button-BGcolor */
  --uc-button-St01-BG: #59b193; /**/
  --uc-button-St02-BG: transparent; /**/
  --uc-button-St03-BG: transparent; /**/

  /* button-color */
  --uc-button-St01-color: #fff;
  --uc-button-St02-color: #fff;
  --uc-button-St03-color: #fff;

  /* border-radius */
  --uc-border-radius-St01: 0% 15% 15% 15%;

  --uc-border-radius-St02: 0% 50% 50% 15%;

  /* border-color */
  --uc-border-St01-color: #58b092;
  --uc-border-St02-color: #58b092;
  --uc-border-St03-color: #83d372;

  /* label-BGcolor */
  --uc-label-St01-BG: #59b193;
  --uc-label-St02-BG: #ffffff;

  /* label-color */
  --uc-label-St01-color: #fff;
  --uc-label-St02-color: #1a1b1e;

  /* button-font-size */
  --uc-button-font: 0.7rem;

  /* button-padding */
  --uc-button-padding: 5px 5px 5px 5px;

  /* annimation */
  --uc-animation-duration: 300ms;

  /* H font-size */
  --uc-h1-font-size: 2.25rem;
  --uc-h2-font-size: 2rem;
  --uc-h3-font-size: 1.75rem;
  --uc-h4-font-size: 1.5rem;
  --uc-h5-font-size: 1.375rem;
  --uc-h6-font-size: 1.125rem;
}

/* B안 */

:root {
  /*main*/
  --uc-color-main01: #72b190;
  --uc-color-main02: #9ec56f;
  --uc-color-main03: #121212;
  --uc-color-main04: #f8f9fb;
  --uc-color-main05: #2a5b35;
  --uc-color-main06: #faf9f5;

  /* Text / Sub */
  --uc-color-text01: #2c395b;
  --uc-color-text02: #71b091;
  --uc-color-text03: #818aa2;
  --uc-color-text04: #83b97e;
  --uc-color-text05: #1a1b1e;
  --uc-color-text06: #96999d;

  /* button-BGcolor */
  --uc-button-St01-BG: transparent; /**/
  --uc-button-St02-BG: #2a353e; /**/
  --uc-button-St03-BG: linear-gradient(135deg, rgba(148, 198, 98, 1) 0%, rgba(116, 188, 119, 1) 50%, rgba(92, 179, 142, 1) 100%); /**/
  --uc-button-St04-BG: transparent;

  /* button-color */
  --uc-button-St01-color: #2a353e;
  --uc-button-St02-color: #fff;
  --uc-button-St03-color: #fff;
  --uc-button-St04-color: #5f957f;

  /* border-radius */
  --uc-border-radius-St01: 0% 15% 15% 15%;

  --uc-border-radius-St02: 0% 50% 50% 15%;

  /* border-color */
  --uc-border-St01-color: #dadade;
  --uc-border-St02-color: #58b092;
  --uc-border-St03-color: #83d372;
  --uc-border-St04-color: #58b092;

  /* button-font-size */
  --uc-button-font: 0.7rem;

  /* button-padding */
  --uc-button-padding: 5px 5px 5px 5px;

  /* button-radious */
  --uc-button-radius: 5px;

  /* button-border */
  --uc-button-border: 1px solid #06a59a;

  /* annimation */
  --uc-animation-duration: 300ms;
}
