@charset "utf-8";

/*  
   v0.1 | 20231213
  byline: 100designer
*/

:root {
  /*main*/
  --color-main01: #2b3b4d;
  --color-main02: #06a59a;
  --color-main03: #ebeef4;
  --color-main04: #d8deeb;
  --color-main05: #ddf1ed;
  --color-main06: #ffe1e3;

  /* Text / Sub */
  --color-text01: #2c395b;
  --color-text02: #38827b;
  --color-text03: #818aa2;
  --color-text04: #b2c6dd;
  --color-text05: #c2cad3;
  --color-text06: #fb6b6b;

  /* button-BGcolor */
  --button-default-BG: #ffffff;
  --button-primary-BG: #06a59a;
  --button-secondary-BG: #ddf1ed;
  --button-negative-BG: #ffe1e3;

  /* button-color */
  --button-default-color: #06a59a;
  --button-primary-color: #ffffff;
  --button-secondary-color: #38827b;
  --button-negative-color: #fb6b6b;

  /* border-color */
  --border-default-color: #ccd1e1;
  --border-primary-color: #2b6d66;
  --border-secondary-color: #06a59a;
  --border-negative-color: #fb6b6b;

  /* button-font-size */
  --button-font: 0.7rem;

  /* button-padding */
  --button-padding: 5px 5px 5px 5px;

  /* button-radious */
  --button-radius: 5px;

  /* button-border */
  --button-border: 1px solid #06a59a;

  /* annimation */
  --animation-duration: 300ms;
}
