@charset "utf-8";

/*  
   v0.1 | 20231213
  byline: 100designer
*/

/*pretendard 가변 다이나믹 서브셋*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');

/* A안 */
:root {
  /*main*/
  --color-main01: #6eab8d;
  --color-main02: #9ec56f;
  --color-main03: #121212;
  --color-main04: #1b1b1b;
  --color-main05: #92cb9d;
  --color-main06: #85b7ab;

  /* Text / Sub */
  --color-text01: #ffffff;
  --color-text02: #676767;
  --color-text03: #8fc89a;
  --color-text04: #71b091;
  --color-text05: #1a1b1e;
  --color-text06: #7e7e7e;

  /* button-BGcolor */
  --button-St01-BG: #59b193; /**/
  --button-St02-BG: transparent; /**/
  --button-St03-BG: transparent; /**/

  /* button-color */
  --button-St01-color: #fff;
  --button-St02-color: #fff;
  --button-St03-color: #fff;

  /* border-radius */
  --border-radius-St01: 0% 15% 15% 15%;

  --border-radius-St02: 0% 50% 50% 15%;

  /* border-color */
  --border-St01-color: #58b092;
  --border-St02-color: #58b092;
  --border-St03-color: #83d372;

  /* label-BGcolor */
  --label-St01-BG: #59b193;
  --label-St02-BG: #ffffff;

  /* label-color */
  --label-St01-color: #fff;
  --label-St02-color: #1a1b1e;

  /* button-font-size */
  --button-font: 0.7rem;

  /* button-padding */
  --button-padding: 5px 5px 5px 5px;

  /* annimation */
  --animation-duration: 300ms;

  /* font-size */
  --h1-font-size: ;
  --h2-font-size: ;
  --h3-font-size: ;
  --h4-font-size: ;
  --h5-font-size: ;
  --h6-font-size: ;
}

/* B안 */

:root {
  /*main*/
  --color-main01: #72b190;
  --color-main02: #9ec56f;
  --color-main03: #121212;
  --color-main04: #f8f9fb;
  --color-main05: #2a5b35;
  --color-main06: #faf9f5;

  /* Text / Sub */
  --color-text01: #2c395b;
  --color-text02: #71b091;
  --color-text03: #818aa2;
  --color-text04: #83b97e;
  --color-text05: #1a1b1e;
  --color-text06: #96999d;

  /* button-BGcolor */
  --button-St01-BG: transparent; /**/
  --button-St02-BG: #2a353e; /**/
  --button-St03-BG: linear-gradient(135deg, rgba(148, 198, 98, 1) 0%, rgba(116, 188, 119, 1) 50%, rgba(92, 179, 142, 1) 100%); /**/

  /* button-color */
  --button-St01-color: #2a353e;
  --button-St02-color: #fff;
  --button-St03-color: #fff;

  /* border-radius */
  --border-radius-St01: 0% 15% 15% 15%;

  --border-radius-St02: 0% 50% 50% 15%;

  /* border-color */
  --border-St01-color: #dadade;
  --border-St02-color: #58b092;
  --border-St03-color: #83d372;

  /* button-font-size */
  --button-font: 0.7rem;

  /* button-padding */
  --button-padding: 5px 5px 5px 5px;

  /* button-radious */
  --button-radius: 5px;

  /* button-border */
  --button-border: 1px solid #06a59a;

  /* annimation */
  --animation-duration: 300ms;
}
